.bgRecipe {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 16px;
  background-color: rgba(196, 196, 196, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(22px);
}
