.bgRecipe {
  width: '100%';
  min-height: 150px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 16px;
  background-color: rgba(196, 196, 196, 0.4);
  border-radius: 10px;
  backdrop-filter: blur(22px);
  margin: 20px;
}

.txt {
  height: 60px;
}

.imgWrap {
  width: 330px;
  height: 330px;
  padding: 20px;
}

.imgMode {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
