@import '~antd/dist/antd.less';

.ant-btn-primary {
  background-color: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
}

.ant-btn {
  font-weight: 700;
}

.ant-input {
  border-radius: 25px;
}